<!-- <!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <footer>
        <div class="footer-content">
            <p>&copy; <%= new Date().getFullYear() %> Freelancer Bidding Site. All rights reserved.</p>
            <div class="social-links">
                <a href="#" target="_blank">Facebook</a>
                <a href="#" target="_blank">Twitter</a>
                <a href="#" target="_blank">LinkedIn</a>
            </div>
        </div>
    </footer>
    <script src="/js/home.js"></script>
</body>
</html> -->